
.swiper-slide img {
    max-height: 250px;
    object-fit: contain;
  }
  

  .product-card {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  